---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k4k8s_deploy_enterprise_license_secret_name }}
  namespace: {{ k4k8s_deploy_namespace }}
type: Opaque
data:
  {{ k4k8s_deploy_enterprise_license_secret_key }}: {{ k4k8s_deploy_enterprise_license_json_string | string | b64encode }}