---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k4k8s_deploy_hybrid_mode_cert_secret_name }}
  namespace: {{ k4k8s_deploy_namespace }}
type: Opaque
data:
  {{ k4k8s_deploy_hybrid_mode_cert_cert_key }}: {{ __k4k8s_deploy_hybrid_cert__['content'] }}
  {{ k4k8s_deploy_hybrid_mode_cert_key_key }}: {{ __k4k8s_deploy_hybrid_private_key__['content'] }}