---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k4k8s_deploy_enterprise_superuser_password_secret_name }}
  namespace: {{ k4k8s_deploy_namespace }}
data:
  password: {{ k4k8s_deploy_enterprise_superuser_password | string | b64encode }}
type: Opaque