---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k4k8s_deploy_sessions_conf_secret_name }}
  namespace: {{ k4k8s_deploy_namespace }}
type: Opaque
data:
{% if k4k8s_deploy_create_admin_gui_sessions_conf_secret | default(False) | bool %}
  {{ k4k8s_deploy_admin_gui_sessions_conf_key }}: '{{ __k4k8s_deploy_admin_gui_session_conf_string__ | b64encode }}'
{% endif %}
{% if k4k8s_deploy_create_portal_sessions_conf_secret | default(False) | bool %}
  {{ k4k8s_deploy_portal_sessions_conf_key }}: '{{ __k4k8s_deploy_portal_session_conf_string__ | b64encode }}'
{% endif %}