---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k4k8s_cm_route53_secret_name }}"
  namespace: "{{ k4k8s_cm_namespace }}"
  labels:
    app.kubernetes.io/name: "cert-manager"
type: Opaque
data:
  {{ k4k8s_cm_route53_secret_access_key_key }}: "{{ k4k8s_cm_route53_secret_access_key | b64encode }}"