---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k4k8s_edns_aws_secret_name }}"
  namespace: "{{ k4k8s_edns_namespace }}"
  labels:
    app.kubernetes.io/name: "external-dns"
type: Opaque
data:
  "{{ k4k8s_edns_aws_access_key_id_key }}": "{{ k4k8s_edns_aws_access_key_id | b64encode }}"
  "{{ k4k8s_edns_aws_secret_access_key_key }}": "{{ k4k8s_edns_aws_secret_access_key | b64encode }}"