---
kind: ClusterIssuer
metadata:
  name: {{ k4k8s_cm_cluster_issuer_name }}
  namespace: {{ k4k8s_cm_namespace }}
spec:
  acme:
    email: {{ k4k8s_cm_acme_acct_email_address }}
    privateKeySecretRef:
      name: {{ k4k8s_cm_cluster_issuer_name }}
    server: {{ k4k8s_cm_acme_server }}
    solvers:
      - selector:
          dnsZones:
{% for dns_zone in k4k8s_cm_route53_dns_zones %}
            - {{ dns_zone }}
{% endfor %}
        dns01:
          route53:
            region: {{ k4k8s_cm_route53_region }}
            accessKeyID: {{ k4k8s_cm_route53_access_key_id }}
            secretAccessKeySecretRef:
              name: {{ k4k8s_cm_route53_secret_name }}
              key: {{ k4k8s_cm_route53_secret_access_key_key }}
