---
kind: ClusterIssuer
metadata:
  name: {{ k4k8s_cm_cluster_issuer_name }}
spec:
  acme:
    email: {{ k4k8s_cm_acme_acct_email_address }}
    privateKeySecretRef:
      name: {{ k4k8s_cm_cluster_issuer_name }}
    server: {{ k4k8s_cm_acme_server }}
    solvers:
      - http01:
          ingress:
            podTemplate:
              metadata:
                annotations:
                  kuma.io/sidecar-injection: "false"
                  sidecar.istio.io/inject: "false"
            class: "kong"
